PWD=.

# ------ App Configs ------
## --- Logto ---
LOGTO_TAG=latest
LOGTO_ENDPOINT=http://auth.localhost
LOGTO_ADMIN_ENDPOINT=http://admin.auth.localhost
# ------------

# ------ Database Configs ------
## --- Postgres Superadmin ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=super_secret_root_pass
POSTGRES_DB=postgres

## --- NestJS Backend ---
NEST_DB_USER=coinmunity
NEST_DB_PASS=coinmunity_secret
NEST_DB_NAME=coinmunity

## --- Logto ---
LOGTO_DB_HOST=postgres
LOGTO_DB_PORT=5432
LOGTO_DB_USER=logto
LOGTO_DB_PASS=logto_secret
LOGTO_DB_NAME=logto
# ------------